@page "/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}




   

<div id="intro" class="bg-image ">
    <div class=" d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white rounded shadow-5-strong p-5" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Email" type="email" id="form1Example1" class="form-control" autocomplete="off" />
                            <label asp-for="Input.Email" class="form-label" for="form1Example1">Adres email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>


                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Password" type="password" id="form1Example2" class="form-control" />
                            <label asp-for="Input.Password" class="form-label" for="form1Example2">Hasło</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <input asp-for="Input.ConfirmPassword" type="password" id="form1Example2" class="form-control" />
                            <label asp-for="Input.ConfirmPassword" class="form-label" for="form1Example2">Potwierdź hasło</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            

                            <div class="col text-center">
                                <!-- Simple link -->
                                <p>
                                    <a asp-page="./login" asp-route-returnUrl="@Model.ReturnUrl">Masz już konto? Zaloguj się!</a>
                                </p>
                            </div>
                        </div>

                        <!-- Submit button -->

                        <div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
