@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {<div class="text-center mt-5">
<p>

                <h1><a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj aby potwierdzić założenie konta.</a></h1>
</p>
</div>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

